<!DOCTYPE html>
<html>
  <head>
    <title>Educated Angles</title>
    <meta name="description" content="{{discription}}">
    <link rel="canonical" href="https://educatedangles.org">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Montserrat:400,500,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <div class='header-bar'>
        <div class='logo'><img src='images/logo.png'></div>
        <div class='header-links'>
        {% for title in titles %}
        <a href='#{{title[0]}}'>{{title[1]}}</a>
        {% endfor %}
        </div>
        <a href='https://www.facebook.com/educatedangels' class='fb-link'><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </header>
    <div class='media-boxes'>
      {% for card in homepagecards %}
      <div class="box" style='background-image: url({{card.background_image}})' >
        <div class="color-overlay"></div>
        <p class='title'>{{card.title}}</p>
        <div class='content'>{{card.body}}</div>
      </div>
      {% endfor %}
    </div>
    <div class='call-to-action'>
      <h1>Support Educated Angles Today</h1>
      <form style="display: inline;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="LZG96QVPMYGA4">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>
    <div class='events-container'>
      <h1 id='upcoming_events'>Upcoming Events</h1>
      <ul>
        {% for event in facebook %}
        <li>
          <div class='date'>
            <p>{{event.month}}</p>
            <p>{{event.day}}</p>
          </div>
          <div class='event-titles'>
            <p>{{event.name}}</p>
            <p>by Educated Angles</p>
          </div>
          <div class='event-extra-info'>
          {% if event.place.location %}
            <p>{{event.place.name}}</p>
            <p>{{event.place.location.city}}, {{event.place.location.state}}</p>
          {% endif %}
          </div>
          <a href='https://www.facebook.com/events/{{event.id}}'>Learn More</a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class='gallery'>
      {% for photo in photos %}
      <a href='https://www.facebook.com/educatedangels/photos/{{photo.id}}'><div class='img' style='background-image: url("{{photo.s3url}}")'><div class="color-overlay2"><p>View</p></div></div></a>
      {% endfor %}
    </div>

    <div class='events-container'>
      <h1 id='volunteer_opportunities'>Volunteer Opportunities</h1>
      <ul>
      {% for event in signupgenius %}
        <li>
          <div class='date'>
            <p>{{event.month}}</p>
            <p>{{event.day}}</p>
          </div>
          <div class='event-titles'>
            <p>{{event.title}}</p>
            <p>by {{event.group}}</p>
          </div>
          <div class='event-extra-info'>
          {% if event.place.location %}
            <p>{{event.place.name}}</p>
            <p>{{event.place.location.city}}, {{event.place.location.state}}</p>
          {% endif %}
          </div>
          <a href='{{event.signupurl}}'>Register</a>
        </li>
      {% endfor %}
      </ul>
    </div>

    {% for i, section in sections %}

        <div id="section_{{i}}" class='story-wrapper'>
      <div class='story-bg'  style='background-image: url("{{section.background_image}}")'></div>
      <div class='story'>{{section.body_content}}</div>
      <div class='story-sidebar'>
        {{section.sidebar_content}}
      </div>
    </div>

    {% endfor %}

    <footer>
      <div>
        <div>
          <div class='logo'><img src='images/logo.png'></div>
          <p><strong>Educated Angels</strong></p>
        </div>
        
        <p><strong>Phone:</strong> 254-462-7712</p>
        <p><strong>Email:</strong> info@educatedangels.org</p>
        <div class="fb-like" data-href="https://www.facebook.com/educatedangels" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>  

      </div>
    </footer>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '801485336656969',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });
          
        FB.AppEvents.logPageView();   
          
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113371589-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113371589-1');
    </script>
    <script>
      let boxes = Array.from(document.querySelectorAll('.media-boxes > div'));
      boxes.map(function (el) {
        let overlay = el.querySelector('.color-overlay');
        var content = el.querySelector('.content');
        overlay.addEventListener('click', function (e) {
          content.classList.add('active');
        }); 
        content.addEventListener('click', function (e) {
          content.classList.remove('active');
        }); 
      });
    </script>

  </body>
</html>

